html, body {
	height: 100%;
	margin: 0;
  padding: 0;
  background: #3877c7;
}
h4{
  font-size: 20px;
}
button{
  border-radius: 5px;
  background-color: #f3f1ed;
}
#map {
  margin: auto;
	height: 100%;
  width: 100%;
  position: inherit;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px 0 0 2px;
}
output{
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  left: 32rem;
  position: absolute;
  top: 1.2rem;
}
#search{
	width: 450px;
}
.search-box{
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid #a3ccff; 
}
#pac-input {
	margin-top: 8px;
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 20px 10px;
	text-overflow: ellipsis;
	width: 386px;
}
#pac-input:focus {
	border-color: #4d90fe;
}
.pac-container {
  font-family: 'Roboto', sans-serif;
}
#type-selector {
  color: #fff;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
.title{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  size: 20px;
  font-weight: 400;
}
.titlediv{
  width: 100%;
  display: inline-block;
  border-bottom: 2px #337abb; 
}
.info{
  display: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 200;
}
.profile{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 200;
  float: right;
}
.find{
  color: #337abb;
  cursor: pointer;
}
.concert-search{
  color: #337abb;
  cursor: pointer;
}
img{
  width: 60%;
}
footer{
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-div{
  float: right;
  margin: 20px;
}

.profile a{
  color: #040404;
}

.landing{
  /*background: antiquewhite;*/
  height: 100%;
}

.header{
  background: black;
  height: 45em;
}

.about-div{
  position: absolute;
  top: 16em;
  width: 100%;
}
.about{
  text-align: center;
  padding-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  color: white;
}

img{
  height: 45em;
}

.expand{
  width: 100%;
  opacity: 0.5;
}

.what{
  width: 100%;
  padding: 9rem 0 0px 0rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.what ul{
  list-style: none;
  display: -webkit-inline-box;
  padding: 0;
}

.what ul li{
  padding: 2rem;
  color: #fff;
}

.how{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%; 
  color: #fff;
}

.descripton{
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 3rem;
  color: #fff;
}

.divbutton{
  text-align: center;
  padding: 3rem;
  width: 100%;
}

button{
  border: none;
  box-shadow: 0px 2px #1051a3;
  /*background: #3877c7;*/
  /*color: white;*/
  font-family: 'Roboto', sans-serif;
  padding: 14px 57px;
  font-size: 17px;
}
.glyphicon{
  font-size: 5rem;
  color: #fff;
}

#table{
  background: white;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid #a3ccff;
  overflow: scroll;
  z-index: 999;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  width: 450px;
}
#display{
  z-index: 999;
  display: block;
  /* position: absolute; */
  bottom: 2px !important;
  overflow: scroll;
  height: 250px;
  width: 450px;
}

.table-head{
  height: 45px;
  background: #3877c7;
}

.table-head th{
  text-align: center;
  color: white;
  font-size: 18px;
}

td{
  text-align: center;
  padding: 2px;
}
.search{
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 5px;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid #a3ccff;
}